<h1 class="text-center">Catalog</h1>
<!--<h2>{{ helloThere.content }}</h2>-->
<div class="table-responsive">
	<table #bookCatalog class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Author</th>
				<th scope="col">Genre</th>
				<th scope="col">Year Published</th>
				<th scope="col">Inventory</th>
				<th scope="col">Issued</th>
				<th scope="col">ISBN</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of catalog">
				<th>{{ book.name }}</th>
				<td>{{ book.author }}</td>
				<td>{{ book.category }}</td>
				<td>{{ book.publishDate }}</td>
				<td>{{ book.count }}</td>
				<td>{{ book.issued }}</td>
				<td>{{ book.isbn }}</td>
			</tr>
		</tbody>
	</table>
</div>

<button class="btn btn-danger" title="delete book" (click)="delete(book)">
	Delete Book
</button>
